<% include ./partial/header %>


    <div class="row">
        <h1 style="text-align:center">Sign Up</h1>
        <div style="width: 30%; margin:25px auto">
             <form action="/register" method="POST">
              <div class="form-group">
                <label for="username">Username <span id="star">*</span></label>
                <input class="form-control" type="text" name="username" placeholder="username">
              </div>
               <div class="form-group">
                <label for="password">Password <span id="star">*</span></label>
                <input class="form-control" type="password" name="password" placeholder="password">
               </div>
               <div class="form-group">
                 <label for="confirm_password">Confirm Password <span id="star">*</span></label> 
                 <input class="form-control" type="password" name="confirm_password" placeholder="confirm password">
               </div>
               <div class="form-group">
                <label for="firstname">First Name <span id="star">*</span></label>
                <input class="form-control" type="text" name="firstname" placeholder="first name">
               </div>
              <div class="form-group">
                <label for="lastname">Last Name <span id="star">*</span></label>
                <input class="form-control" type="text" name="lastname" placeholder="last name">
              </div>
              <div class="form-group">
                <label for="email">Email <span id="star">*</span></label>
                <input class="form-control" type="text" name="email" placeholder="e.g user@gmail.com">
              </div>
              <div class="form-group">
                <label for="avatar">Profile Photo</label>
                <input class="form-control" type="text" name="avatar" placeholder="image url">
              </div>
                <label for="admincode">Admin Code</label>
              <div class="form-group">
                <input class="form-control" type="text" name="admincode" placeholder="admin Code">
              </div>
              <p id="star"> * : required</p>
               <div class="form-group">
                 <button  class="btn btn-lg btn-default btn-block btn-primary">Sign Up</button>
                </div>
            </form>
             <a href="/campgrounds">Go Back</a>
         </div>
       
   
    </div>


<% include ./partial/footer %>