

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}


#delete-form {
    display: inline;
}

.comment-delete {
    display:inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

#star {
    color: red;
}

#newCamp {
    text-align: center;
    font-size:15px;
    padding:6px;
}

#search {
    padding:6px;
}

#forgot {
    margin-left: 20px;
}